/* styles.css */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    min-width: 480px;
}

body, .description{
    background-color: aliceblue;
    
}

.navbar {
    display: block;
    background-color: rgb(164, 211, 252);
    margin: 0px;
    text-align: center;
}

#author {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}



h1 {
    text-align: center;
    font-size: 48px;
    background-color: rgb(108, 136, 101);
    font-weight: bold;
    width: 50%;
    margin: 8px auto;
}


#linkcontainer, .container, .summary {
    text-align: center;
}

.container.description {
    display: block;
    max-width: 600px;
    font-size: 20px;
    margin: 8px auto;
}

.container {
    
}

.description {
    max-width: 600px;
    text-align: left;
}



.recipeLink {
    display:block;
    font-size: 32px;
    margin: 8px auto;
    background-color: lightgoldenrodyellow;
    font-weight: lighter;
    width: 350px;
}

.recipeLink:hover {
    background-color: rgb(212, 255, 131);
 }

img {
    max-height: 300px;
    width: auto;
    display: block;
    margin: 8px auto;
}

ul, ol {
    display: inline-block;
    font-size: 20px;
}

.summary, .sectionheader {
    font-size: 28px;
    margin: 10px auto;
}

.sectionheader {
    background-color: aquamarine;
    width:75%;
    
}


li {
    text-align: left;
}

li::marker {
    font-weight: bold;
}